<%= link_to "Add url", new_url_path %>
<%= link_to "Sort by Popularity", root_path(popularity: "true") %>
<%= @urls.each do |url| %>
  <ul>
    <li>Original URL: <%= url.original_url %></li>
    <li>Shortened URL: <%= link_to "fuel.it/#{url.slug}", "/#{url.slug}" %></li>
    <li>Clicks: <%= url.popularity %> </li>
    <li><%= url.pretty_timestamp %></li>
  </ul>
<% end %>
